<template>
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-start">
        <div class="card shadow p-0" style="width: 18rem">
          <img
            src="https://img.freepik.com/free-photo/woman-checking-out-free-design-resources-website_53876-138963.jpg?size=626&ext=jpg&ga=GA1.1.362181149.1705553811&semt=sph"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        <div class="card shadow p-0" style="width: 18rem">
          <img
            src="https://img.freepik.com/free-photo/successful-computer-gadget-digital-close_1220-888.jpg?size=626&ext=jpg&ga=GA1.1.362181149.1705553811&semt=sph"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col d-flex justify-content-end">
        <div class="card shadow p-0" style="width: 18rem">
          <img
            src="https://img.freepik.com/free-photo/businesswoman-with-laptop-coffee-shop_23-2148002396.jpg?size=626&ext=jpg&ga=GA1.1.362181149.1705553811&semt=sph"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup></script>

<style></style>
