<template>
    <div class="notfound">
        <h1>404. NotFound</h1>
    </div>
</template>

<script setup>

</script>

<style scoped>
.notfound{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}
</style>