<template>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><h4><i class="bi bi-twitter-x"></i></h4
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><h4><i class="bi bi-facebook"></i></h4
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><h4><i class="bi bi-instagram"></i></h4
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><h4><i class="bi bi-whatsapp"></i></h4
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"
            ><h4><i class="bi bi-youtube"></i></h4
          ></a>
        </li>
      </ul>
      <p class="text-center text-body-secondary">© 2023 Company, Inc</p>
    </footer>
  </div>
</template>

<script setup></script>

<style scoped>

</style>
