<template>
    <nav class="navbar navbar-expand-lg bg-warning bg-gradient">
      <div class="container">
        <router-link :to="{name:'home'}" class="navbar-brand"><img src="./blue-archive-seia-blue-archive.gif" alt="" width="40" height="40"></router-link>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link :to="{name:'home'}" class="nav-link active"><i class="bi bi-house-door-fill m-2">หน้าแรก</i></router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name:'about'}" class="nav-link active"><i class="bi bi-person-fill m-2">เกี่ยวกับเรา</i></router-link>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                ลิงค์เว็บไซต์ที่เกี่ยวข้อง
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">วท.ตราด</a></li>
                <li><a class="dropdown-item" href="#">อาชีวศึกษาตราด</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="#">กระทรวงศึกษาธิการ</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <router-link :to="{name:'map'}" class="nav-link active"><i class="bi bi-map-fill m-2">แผนที่</i></router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-view />
  </template>
  
  <script setup>
    import { RouterLink,RouterView } from 'vue-router';
  </script>
  
  <style scoped>
    @import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
    .navbar{
      font-family: 'Sarabun', sans-serif;
    }
  </style>
  